@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center w-100">
    <div class="col-md-10 col-lg-10 col-xxl-6">
        <div class="card mb-0">
            <div class="card-body text-center">
                <h2>Welcome
                    Please select an option on the left</h2>
                <hr />
                <h2>Developed by Eamonn Delaney</h2>
                <!-- Thumbnail Image with a link to open the modal -->
                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal">
                    <img src="~/images/Certificate.jpg" class="img-thumbnail" alt="Certificate Thumbnail" style="width: 150px;">
                </a>
                <h6>Click to expand</h6>
            </div>
        </div>
    </div>
</div>

<!-- Modal for full-size image view -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Certificate Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="~/images/Certificate.jpg" class="img-fluid" alt="Certificate Image">
            </div>
        </div>
    </div>
</div>
