@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center w-100">
    <div class="col-md-10 col-lg-10 col-xxl-6">
        <div class="card mb-0">
            <div class="card-body">
                <h2>Welcome, please select an option on the left</h2>
                <hr />
                <h2>Developed by Eamonn Delaney</h2>
                <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img src="~/images/Certificate.jpg" height="400px" width="auto" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
